*{
    font-family: 'Victor Mono', monospace;
    font-weight: 700;
    font-size: 30px;
}

body {
    padding-top: 3rem;
    padding-left: 2rem;
    width: 100%;
    height: 100%;
    background-image: url('sw-bcg-common.jpg');
    background-size: cover;
}

h1 {
    color: white;
    font-size: 40px;
}

form {
    width: 50vw;
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: space-around
}

.input {
    margin: .2rem;

}

.input--first {
    width: 35vw;
}

.input--second {
    width: 25vw;
}

.numErr, .valErr {
    color: white;
    font-size: 15px;

}

button {
    padding: .2rem .5rem;
    margin: 1rem auto;
}